body {
    margin: 0; /* Remove default margin */
    min-height: 100vh; /* Ensure it starts at full viewport height */
    background-image: url('space.webp'); /* Replace with your image URL */
    background-size: cover; /* Make the image cover the width of the page */
    background-position: center top; /* Start image from the top center */
    background-attachment: fixed; /* Make the background image scroll slowly */
    background-repeat: no-repeat; /* Prevent tiling horizontally */
    background-attachment: scroll; /* Allow the image to scroll with the page */
    font-family: Arial, sans-serif; /* Optional styling for text */
}


header {
    position: relative;
    animation: slide-in 1s ease-out forwards;

    @keyframes slide-in {
        from {
            left: -100%;
        }
        to {
            left: 0;
        }
    }
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    border-color: #ffffff;

}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background: #9acd0f;
    border-radius: 20%;
}

section {
    padding: 2rem;
    margin: 1rem 0;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #fff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    color: aliceblue;
}

ul li {
    position: relative;
    animation: slide-in 4s ease-out forwards;

    @keyframes slide-in {
        from {
            left: -100%;
        }
        to {
            left: 0;
        }
    }
    color: rgb(253, 253, 253);
    background:linear-gradient(to right, rgba(12, 4, 52, 1), rgba(54, 38, 228, 0.3));
    margin: 0.5rem 0.5rem ;
    padding: 0.5rem;
    border-left: 5px solid #ffffff;
    border-radius: 5%;
}

.project {
    margin-bottom: 2rem;
}

.project h3 {
    margin-top: 0;
}

.project a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background: #333;
    color: #fff;
    text-decoration: none;
}

.project a:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
